@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
h1,h2{
    font-family: "Cinzel Decorative", serif;
}
body, header, footer{
    font-family: "Montserrat", sans-serif;
}
.bg-anime{
    background-image: url(assets/bg-animeswordleveling.png);
}